@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400;700&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange:#f9ab00;
  --primary-dark:rgba(255,255,255,0);
}

body{
  font-family: "Roboto Condensed" ,sans-serif;
}




/*******************************NAVBAR***************************************/

.logo {
  height: 100px;
  /* Ajusta la altura del logo según tus preferencias */
  width: auto;
  /* La anchura se ajustará automáticamente para mantener la proporción */
  margin-left: auto;

}
.container {
  position: relative !important;
  z-index: 1 !important;
}
nav a.nav-link{
  font-size: .9rem ;
  
  letter-spacing: 0.4rem;
  cursor: pointer;
  
}

nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 20px;
  margin-left: 0.1px;
  color: var(--primary-white) !important;
  border-top:0.1875rem solid var(--primary-dark);
  border-bottom:0.1875rem solid var(--primary-dark);
}

.navbar-brand{
max-width: 17.25rem;
padding: 0 !important;
height: 6rem !important;
}


.navbar-toggler{
  border: none !important;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid transparent; /* Establecemos el borde superior transparente por defecto */
  border-bottom: 0.1875rem solid transparent; 
  transition: border-color 0.3s; 
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange); 
  border-bottom: 0.1875rem solid var(--primary-orange); 
}

/*******************************HEADER--FOTO***************************************/

/* Header.css */

/* Estilos generales */
.header-wraper {
  position: relative;
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: row; /* Cambiamos a fila horizontal */
  justify-content: space-between; /* Espacio entre la foto y la presentación */
  align-items: center;
  padding: 0 20px; /* Añadimos un espacio horizontal para separar los elementos */
}

.mi-foto {
  width: 500px; /* Reducimos el tamaño de la foto en pantallas más pequeñas */
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  user-select: none;
 
}

.mi-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  cursor: pointer;
 
}

.mi-foto:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9); 
}

.mi-foto:hover img {
  transform: scale(1.05); 
}

.texto-izquierdo {
  color: var(--primary-white) !important;
  text-align: left;
  padding: 20px; /* Reducimos el padding en pantallas más pequeñas */
  border: 4px solid transparent;
  border-left-color: var(--primary-orange) !important;
  border-bottom-color: var(--primary-orange) !important;
  border-radius: 0 0 0 10px; /* Ajustamos el borde redondeado en pantallas más pequeñas */

}
  

  @media (min-width: 1300px){

    .texto-izquierdo h1 {
      font-size: 80px; /* Reducimos el tamaño del título en pantallas más pequeñas */
    }
    
    .texto-izquierdo h2 {
      font-size: 30px; /* Reducimos el tamaño del subtítulo en pantallas más pequeñas */
    }
    
    .texto-izquierdo p {
      font-size: 35px; /* Reducimos el tamaño del párrafo en pantallas más pequeñas */
    }
    .mi-foto{
      margin-right: 20%;
      
    }
 
    }

    @media (min-width: 1299px){
      .mi-foto {
        width: 400px; /* Reducimos el tamaño de la foto en pantallas más pequeñas */
        height: 400px;
        margin-top: 0;
        margin-bottom: 20px; 
      }
    

      .texto-izquierdo h1 {
        font-size: 80px; /* Reducimos el tamaño del título en pantallas más pequeñas */
      }
      
      .texto-izquierdo h2 {
        font-size: 30px; /* Reducimos el tamaño del subtítulo en pantallas más pequeñas */
      }
      
      .texto-izquierdo p {
        font-size: 35px; /* Reducimos el tamaño del párrafo en pantallas más pequeñas */
      }
      .texto-izquierdo{
      margin-top: -80px; 
      margin-left:40vh;
      }
      }

    


/* Media Queries para diseño responsive */
@media (max-width: 959px) {
  .header-wraper {
    flex-direction: column; /* Cambiamos a columna en pantallas más pequeñas */
    padding: 20px; /* Reducimos el espacio horizontal en pantallas más pequeñas */
  }

  .mi-foto {
    width: 180px; /* Reducimos el tamaño de la foto en pantallas más pequeñas */
    height: 180px;
    margin-top: 40%;
    margin-bottom: 20px; 
  }

  .texto-izquierdo {
    text-align: left; /* Centramos el texto en pantallas más pequeñas */
    margin-bottom: 160px; /* Ajustamos el margen superior en pantallas más pequeñas */
    border-radius: 0; /* Eliminamos el borde redondeado en pantallas más pequeñas */
  }

  .texto-izquierdo h1 {
    font-size: 30px; /* Reducimos el tamaño del título en pantallas más pequeñas */
  }

  .texto-izquierdo h2,
  .texto-izquierdo p {
    font-size: 20px; /* Reducimos el tamaño del subtítulo y el párrafo en pantallas más pequeñas */
  }
  
  /* Cambiamos el orden de los elementos */
  .header-wraper {
    flex-direction: column-reverse;
  }
  
  /* Ajustamos el tamaño del botón */
  .btn.btn-danger {
    font-size: 13px !important; /* Puedes ajustar el tamaño según tus necesidades */
    padding: 10px 20px !important; /* Puedes ajustar el padding para que el botón se vea bien en pantallas pequeñas */
  }
  .header-wraper {
    flex-direction: column-reverse;
  }

}


  
  
  
  /*********************************ABOUT ME *****************************************/

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  height: 100vh;
 
}
.sobreMI{
  color: var(--primary-orange);
  font-size: 40px;

}
/******************************DETALLE EDUCACION Y CURSO***************************/

.edu_curso{
  color: var(--primary-white);
  font-size: 50px;
  font-weight: bold;
  margin-top: 10vh;
  text-align: center;
}

.edu_curso h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Ajustes para la ubicación de las columnas */
.columns-container {
  display: flex;
}
.column svg,
.column p svg
{
  width: 2rem; /* Ajusta el tamaño del ícono */
  height: 4rem;
  margin-left: 10px;
  margin-right: 10px;
}


.column {
  width: 60vh;
  flex: 1;
  padding: 20px;
  color: var(--primary-white);
  margin-right: 5vh;
}

.column h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 1px;
}

.column p {
  
  font-size: 16px;
  margin: 1px;
  border-bottom: 1px solid var(--primary-white);
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column li {
  font-size: 16px;
  margin-bottom: 5px;
}


/*************************************************************************************/
.miHisto {
  font-size: 80px;
  font-weight: bold;
  color: var(--primary-white);
  text-align: center;
  margin-bottom: 3vh; /* Ajusta el margen inferior para separar el h1 del contenido */
  margin-top: 10vh;
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Elimina la altura para que el div ocupe el espacio necesario */
}

.sobre-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Ajusta el margen superior para separar el contenido del h1 */
}

.miHisto svg {
  width: 4rem; /* Ajusta el tamaño del ícono */
  height: 4rem;
  margin-left: 10px; /* Ajusta el margen izquierdo para separar el ícono del texto */
}
.edu_curso  svg{
  width: 3.5rem; /* Ajusta el tamaño del ícono */
  height: 3.5rem;
  margin-left: 10px; /* Ajusta el margen izquierdo para separar el ícono del texto */

}

.experiencia-container {
  display: flex; /* Utilizamos flexbox para colocar los elementos en línea */
}

.experiencia-box {
  flex: 1; 
  margin: 10px; 
  margin-top: 50px;
}

.experiencia-section {
  height: 17vh;
  width: 42vh;
  background-color: transparent;
  color: white;
  padding: 10px;
  text-align:justify;
  border: 4px solid white;
  cursor: pointer;
}
.experiencia-section h2 {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.experiencia-section:hover {
  color: var(--primary-orange); /* Cambia el color del texto al pasar por encima */
  border-color: var(--primary-orange); /* Cambia el color de los bordes al pasar por encima */
}

.sobre:hover svg,
.edu_curso:hover svg,
.experiencia-section:hover svg {
  stroke: var(--primary-orange); /* Cambia el color del ícono al pasar por encima */
}
/* Estilos para pantallas más pequeñas */


/* Estilos para pantallas aún más pequeñas */
/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 1620px) {
  .about {
    height: auto; /* Cambiamos la altura para que se ajuste al contenido */
  }

  .sobreMI {
    font-size: 30px;
    text-align: center;
  }

  .experiencia-container {
    display: block; /* Cambiamos a display block para que los cuadros aparezcan uno debajo del otro */
    text-align: center; /* Centramos los cuadros */
  }

  .experiencia-box {
    margin: 10px auto; /* Ajustamos los márgenes para centrar los cuadros */
    width: 90%; /* Establecemos un ancho máximo para que los cuadros se ajusten gradualmente */
    max-width: 400px; /* Establecemos un ancho máximo para evitar que los cuadros se vuelvan demasiado anchos */
  }

  .about .experiencia-section {
    width: 100%; /* Ajustamos el ancho para que los cuadros ocupen todo el espacio disponible */
    height: auto; /* Cambiamos la altura para que se ajuste al contenido */
    margin-top: 10px; /* Añadimos un margen superior para separar los cuadros */
  }

  .edu_curso {
    font-size: 45px;
  }
}
